<!DOCTYPE html>
<html>
    <head>
     <meta charset="UTF-8" />
     <title>{% block title %}Commune SOUASSI{% endblock %}</title>
				 {% block stylesheets %}
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
				<meta http-equiv="x-ua-compatible" content="ie=edge">
				<link rel="stylesheet" type="text/css" title="design" href="{{ asset('bundles/smscommune/css/style1.css') }}">
				 <!-- Font Awesome -->
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
				 <!-- Bootstrap core CSS -->
				<link href="{{ asset('bundles/smscommune/css/bootstrap.min.css') }}" rel="stylesheet">
				 <!-- Material Design Bootstrap -->
				<link href="{{ asset('bundles/smscommune/css/mdb.min.css') }}" rel="stylesheet">
				<!-- style menu -->
				<link href="{{ asset('bundles/smscommune/css/menu.css') }}" rel="stylesheet">
				<link href="{{ asset('bundles/smscommune/css/menufr.css') }}" rel="stylesheet">
							<style rel="stylesheet">
							/* TEMPLATE STYLES */
							
							main {
								padding-top: 1rem;
								padding-bottom: 2rem;
							}
							
							.widget-wrapper {
								padding-bottom: 2rem;
								border-bottom: 1px solid #e0e0e0;
								margin-bottom: 2rem;
							}
							</style>
			 {% endblock %}
				 
    </head>
    <body>

		{% block body %}	
		{% endblock %}	
		
		
       
		{% block javascripts %}

	   {% endblock %}
	   
	</body>
</html>